<HTML>
	<head>
		<title>
			My Game
		</title>
	</head>
	<body>
		<h1>
			{{ user.username }}`s army
		</h1>
        {% if warriors %}
          <h2>Warriors:</h2>
          <ul>
              {% for warrior in warriors %}
              <li><a href="{% url 'game:warprofile' warrior.pk %}">{{ warrior.name }}</a></li>
              {% endfor %}
          </ul>
        {% else %}
          <p>No warriors for {{ user.username }}</p>
        {% endif %}
	</body>
</HTML>
