<HTML>
	<head>
		<title>
			My Game
		</title>
	</head>
	<body>
		<h1>
			{{ warrior.name }}
		</h1>
		<p>health: {{ warrior.hp }}</p>
		<p>Attack: {{ warrior.ap }}</p>
		<p>Defence: {{ warrior.dp }}</p>
	</body>
</HTML>
